html, body {
    background: #EEEEEE;
}

@media screen and (min-width: 1200px) {
    .layui-container {
        width: 1145px;
    }
}

a {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.icon-btn {
    padding: 0 10px;
}

.header .layui-nav .layui-this:after, .header .layui-nav-bar {
    height: 2px;
    background-color: #03152A;
    top: 0 !important;
}

.header .layui-nav-item .layui-icon {
    font-size: 16px;
}

.header {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    height: 50px;
    line-height: 50px;
}

.header .layui-nav {
    background: transparent;
    padding: 0;
}

.header .layui-nav .layui-nav-item {
    height: 50px;
    line-height: 50px;
}

.header a {
    color: #333 !important;
    padding: 0 15px !important;
}

.header a:hover {
    color: #333;
}

.header .layui-nav-child a {
    color: #333 !important;
}

.header .layui-nav .layui-nav-more {
    border-color: #666 transparent transparent;
}

.header .layui-nav .layui-nav-mored {
    border-color: transparent transparent #666;
}

.header .layui-nav-child dd {
    text-align: center;
}

.header .layui-logo {
    width: auto;
    color: #333;
    font-size: 18px;
    font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all .3s;
}

.header .layui-logo img {
    height: 35px;
}

.header .layui-logo cite {
    font-style: normal;
}